<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type='text/css' media='screen' href='pirmas.css'>
</head>
<style>

</style>

<body>
    <div class="navbar">
        <img src="moko png.png" alt="">
        <a href="about.html">About</a>
        <a href="portfolio.html">Portfolio</a>
        <a href="shop.html">Shop</a>
        <a href="https://www.facebook.com/pildau/">FB</a>
    </div>
    <div class="container">
    </div>
    <div class="logo ">

    </div>

    <div class="flex-container ">
        <div class="navigation ">
            <div class="test "></div>
            <div class="navigation-links ">
                <a href="#indai-1 ">Puodeliai</a>
                <a href="#indai-2 ">Lekštės</a>
                <a href="#indai-3 ">Spalvos</a>
                <a href="#indai-4 ">Individualūs<br>užsąkymai</a><br>
                <a href="#indai-5 ">Parodiniai<br>darbai</a>
            </div>
        </div>
        <div class="content ">
            <div id="indai-1 "></div>
            <div id="indai-2 "></div>
            <div id="indai-3 "></div>
            <div id="indai-4 "></div>
            <div id="indai-5 "></div>
        </div>
        <div class="feed ">
        </div>
    </div>
    <div> </div>
</body>


</html>